[build]
  publish = "."
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/dd-wheel/*"
  to = "/dd-wheel/index.html"
  status = 200

[[scheduled]]

function = "daily-spin"
schedule = "0 17 * * *"